
 
.caru {
    display: grid !important;
    grid-template-columns: 450px 1fr;
    margin: 20px 0;
    padding: 0 300px;
    grid-gap: 20px;
    place-items: center;
    
}

.ssliderTwo{
    padding: 0 40px 0 60px;  
    min-width:1200px ;
    width: 100%;
}

@media only screen and (max-width: 950px){
    .caru { 
            grid-template-columns: repeat(1, 1fr);
        }
    .innerDetails{
            text-align: center;
        }
}